<?xml version="1.0" encoding="UTF-8"?>
<suite name="SellerDashBoard Tests" verbose="1"
	parallel="tests">
	<listeners>
		<listener class-name="fk.common.helpers.TestNGHtmlReportGenerator" />
		<listener class-name="fk.common.helpers.TestNGTestListener" />
	</listeners>
	<parameter name="SellerDashBoardUrl" value="https://seller.flipkart.com/" />
	<parameter name="retry_enabled" value="false" />
	<parameter name="enable_logs" value="true" />
	<parameter name="browser" value="CHROME" />
	<parameter name="environment" value="QA" />
	<parameter name="webdriver_timeout" value="60000" />

	<test name="APP Test">
		<groups>
			<run>
				<include name="test" />
			</run>
		</groups>
		<packages>
			<package name="sptafTests" />
		</packages>
	</test>
</suite>